<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irs.mapper.TbPostsMapper">
  <resultMap id="BaseResultMap" type="com.irs.pojo.TbPosts">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="zpbm" jdbcType="VARCHAR" property="zpbm" />
    <result column="zpgw" jdbcType="VARCHAR" property="zpgw" />
    <result column="rztj" jdbcType="VARCHAR" property="rztj" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `uid`, zpbm, zpgw, rztj, create_time
  </sql>
  <select id="selectByExample" parameterType="com.irs.pojo.TbPostsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_posts
    where `uid` = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_posts
    where `uid` = #{uid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.irs.pojo.TbPostsExample">
    delete from tb_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="uid" keyProperty="uid" parameterType="com.irs.pojo.TbPosts" useGeneratedKeys="true">
    insert into tb_posts (zpbm, zpgw, rztj, create_time)
    values (#{zpbm,jdbcType=VARCHAR}, #{zpgw,jdbcType=VARCHAR}, #{rztj,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="uid" keyProperty="uid" parameterType="com.irs.pojo.TbPosts" useGeneratedKeys="true">
    insert into tb_posts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zpbm != null">
        zpbm,
      </if>
      <if test="zpgw != null">
        zpgw,
      </if>
      <if test="rztj != null">
        rztj,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zpbm != null">
        #{zpbm,jdbcType=VARCHAR},
      </if>
      <if test="zpgw != null">
        #{zpgw,jdbcType=VARCHAR},
      </if>
      <if test="rztj != null">
        #{rztj,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.irs.pojo.TbPostsExample" resultType="java.lang.Long">
    select count(*) from tb_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_posts
    <set>
      <if test="record.uid != null">
        `uid` = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.zpbm != null">
        zpbm = #{record.zpbm,jdbcType=VARCHAR},
      </if>
      <if test="record.zpgw != null">
        zpgw = #{record.zpgw,jdbcType=VARCHAR},
      </if>
      <if test="record.rztj != null">
        rztj = #{record.rztj,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_posts
    set `uid` = #{record.uid,jdbcType=BIGINT},
      zpbm = #{record.zpbm,jdbcType=VARCHAR},
      zpgw = #{record.zpgw,jdbcType=VARCHAR},
      rztj = #{record.rztj,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.irs.pojo.TbPosts">
    update tb_posts
    <set>
      <if test="zpbm != null">
        zpbm = #{zpbm,jdbcType=VARCHAR},
      </if>
      <if test="zpgw != null">
        zpgw = #{zpgw,jdbcType=VARCHAR},
      </if>
      <if test="rztj != null">
        rztj = #{rztj,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `uid` = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.irs.pojo.TbPosts">
    update tb_posts
    set zpbm = #{zpbm,jdbcType=VARCHAR},
      zpgw = #{zpgw,jdbcType=VARCHAR},
      rztj = #{rztj,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where `uid` = #{uid,jdbcType=BIGINT}
  </update>
</mapper>